<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<filter>
		<filter-name>crawlerFilter</filter-name>
		<filter-class>com.sfeir.server.crawler.CrawlerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>crawlerFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>


  <!-- Servlets -->
  <servlet>
    <servlet-name>serviceServlet</servlet-name>
    <servlet-class>com.sfeir.server.ServiceOpenDataImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serviceServlet</servlet-name>
    <url-pattern>/opendata/service</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>requestFactoryServlet</servlet-name>
	<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
	<init-param>
		<param-name>symbolMapsDirectory</param-name>
		<!-- You'll need to compile with -extras and move the symbolMaps directory 
			to this location if you want stack trace deobfuscation to work -->
		<param-value>WEB-INF/classes/symbolMaps/</param-value>
	</init-param>
  </servlet>

  <servlet-mapping>
	<servlet-name>requestFactoryServlet</servlet-name>
	<url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>com.sfeir.server.DatastoreContextListener</listener-class>
  </listener>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Opendata.jsp</welcome-file>
  </welcome-file-list>

</web-app>
